# Python artifacts
__pycache__/
*.py[cod]

# Project specific
checkpoints/
*.pkl
*.gif

# System files
.DS_Store

# Allow everything in the images folder
!images/inference.gif

# ALLOW the best model for the demo
!checkpoints/checkpoint.pkl
